<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="ConnString" value="DefaultEndpointsProtocol=https;AccountName=bentleywebjobsdemo;AccountKey=hyN6J/dN14t7L91PCEX51u575laEs82YrDd9wjqJlSsEZD1/pneJ8WgsNjfROwYaXYcKvG3sQ+yJy0Nz7NU/zg=="/>
  </appSettings>
</configuration>